body {
  font-family: Arial, sans-serif;
  background-color: rgb(69, 85, 79);
}

.tab-container {
  max-width: 300px;
  display: flex;
  border: none;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}

.tab {
  font-size:16px;
  border-radius: 5px 5px 0 0;
  flex: 1;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(188, 172, 129);
  color: rgb(59, 73, 71);
  margin-top: 4px;
  height: 18px;
  border-right: 1px solid rgb(130, 119, 89);
}

.tab.active {
  background-color: rgb(255, 244, 213);
  color: rgb(1, 64, 54);
  font-weight: bold;
  height: 22px;
  margin-top: 0px;
}

.tab-content {
  border-radius: 0 0 5px 5px;
  display: none;
  padding: 10px;
  background-color: rgb(255, 244, 213);
}

.tab-content.active {
  display: block;
}

#feed {
  padding: 4px;
  margin-top:4px;
  margin-bottom: 4px;
  font-size:9px;
  overflow:hidden;
  color: rgb(255, 244, 213) !important;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: rgb(1, 64, 54);
}

form input, 
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(1, 64, 54);
  border-radius: 5px;
  box-sizing: border-box;
}

form button[type="submit"] {
  background-color: rgb(1, 64, 54);
  color: rgb(255, 244, 213);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: rgb(0, 51, 43);
}

.invoice{
	border:1px solid rgb(1, 64, 54);
	border-radius:5px;
	padding:5px;
	margin:5px;
	display:block;
	font-size:9px;
  background-color: rgba(255,255,255,0.5);
}

.invoice a{
	text-decoration:none;
  font-size:16px;
	cursor:pointer;
	color:blue;
}

a {
  cursor:pointer !important;
  color:blue;
  text-decoration:none;
}
a:hover {
  opacity:0.7;
}
.chat a{
  opacity: 0.5;
}
.chat a:hover{
  opacity: 1;
}

.thread, .chat {
  padding: 5px;
  margin-bottom: 12px;
  border-radius:5px;
  border: 1px solid rgba(1, 64, 54,0.5);
}
.thread {
  font-size:14px;
  background-color: rgb(219, 204, 160);
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 18px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.chat {
  margin-left:0;
  font-size:11px;
  background-color: rgb(157, 201, 169);
  max-width:70% !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.my_thread {
  background-color: rgb(253, 155, 57);
}
.my_chat {
  background-color: rgb(253, 155, 57);
  margin-left:20% !important;
  margin-right: 0;
}
.replied_to_clone {
  border:1px solid rgb(120, 120, 120);
  filter: grayscale(50%);
  margin-left: 2px;
  margin-right: 8px;
}
.thread_opener {
  text-decoration: none;
  cursor: pointer;
}
.invoice[data-balance="0"] {
  background-color: rgb(255,110,110);
}
.reply_form {
  border:1px solid rgb(1, 64, 54);
  border-radius:3px;
  padding:3px;
}
.reply_form input[type="text"] {
  display: inline-block;
  width: 100% !important;
  border: none !important;
  outline: none !important;
  background-color: rgba(0,0,0,0) !important;
  color: rgb(1, 64, 54) !important;
}
.reply_form input[type="text"]:hover, .reply_form input[type="number"] {
  background-color: rgba(0,0,0,0) !important;
}
.reply_form input[type="number"] {
  width: 100% !important;
  border: 1px solid rgb(1, 64, 54) !important;
  background-color: rgba(0,0,0,0) !important;
  color: rgb(1, 64, 54) !important;
  height:40px;
}
.reply_form button{
  display: inline-block;
  width: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgb(1, 64, 54);
  cursor: pointer;
  font-size:14px;
  opacity:0.7;
  text-align: center;
}
.reply_form button:hover {
  opacity:1;
  background-color: rgba(255, 255, 255, 0.2);
}
.reply_form_super_chat_input_container.hidden{
  display:none;
}
.invoice_selector.mini{
  height:12px !important;
  padding:0 !important;
  font-size:9px !important;
  display:inline-block !important;
  margin:5px !important;
  background-color:rgba(0,0,0,0) !important;
  color: rgb(1, 64, 54) !important;
  border:none !important;
  box-shadow: none !important;
  outline: none !important;
}
.pull-right {
  float:right;
}

.reaction_link_span, .reaction_link_span a {
  color: rgb(151, 151, 151);
  text-decoration: none;
  cursor: pointer;
}
.my_reaction {
  color: rgb(1, 64, 54) !important;
}

#thread_container {
  position:relative;
  overflow-y:scroll;
  max-width:97%;
  width:auto;
  border-radius:0 !important;
  border: 1px solid rgba(0,0,0,0) !important;
}

/* stylish, minimal scroll bars */
::-webkit-scrollbar {
  width: 5px;
  opacity:0.5;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: rgba(155, 126, 40,0.1);
}
::-webkit-scrollbar-thumb {
  background: rgb(219, 204, 160);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 175, 35);
}
#server_link, #conversion_rate{
  color: rgb(188, 172, 129);
  text-decoration: none;
}
#server_link{
  cursor: pointer;
}
.chat_reply_btn {
  display: inline-block;
  width: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgb(1, 64, 54);
  cursor: pointer;
  font-size:14px;
  opacity:0.8;
  text-align: center;
  font-size:16px;
  border-radius:3px;
  padding-left:10px;
  padding-right:10px;
}
.chat_reply_btn:hover {
  opacity:1;
}
.superchat {
  font-size: 14px;
  background-image: linear-gradient(140deg, 
    #a2f8c9 0%,        /* Light green-blue */
    #57f1df 25%,       /* Light blue-green */
    #39fcff 50%,       /* Soft blue */
    #3eceef 75%,       /* Light cyan-blue */
    #94faf4 100%       /* Very light teal */
  );
}
.my_chat.superchat {
  background-image: linear-gradient(140deg, 
    #f0cabd 0%,        /* Soft orange-red */
    #fa876a 25%,       /* Light tomato */
    #ff886a 50%,       /* Lighter coral */
    #d59356 75%,       /* Soft orange */
    #f6d1aa 100%       /* Pale orange */
  );
}
.superchat_amount{
  display:inline-block;
  width:100%;
  text-align: center;
  font-size:16px;
  font-weight:bold;
  color:rgb(1, 64, 54);
  border-bottom: 1px solid rgb(1, 64, 54);
}
.chat hr {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(1, 64, 54,0.5);
  border-top: none;
  border-left: none;
  border-right: none;
}
#scroll_to_bottom_link{
  color: rgb(188, 172, 129);
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
}
#scroll_to_bottom_container{
  text-align: center;
  max-height: 14px;
}
.faded{
  opacity: 0.4 !important
}